<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h2>Users in database:</h2>
<div>
    <table border="1">
        <tr>
            <th>count</th>
            <th>id</th>
            <th>name</th>
            <th>surname</th>
            <th>age</th>
            <th>Manage</th>
        </tr>
        <tr th:each="user, state : ${usersList}">

            <td th:utext="${state.count}">count</td>
            <td th:utext="${user.getId()}">id</td>
            <td th:utext="${user.getName()}">name</td>
            <td th:utext="${user.getSurname()}">surname</td>
            <td th:utext="${user.getAge()}">age</td>
            <!--<td>
                <form th:method="POST" th:action="@{deleteUser}" th:object="${user}">
                    <input type="submit" value="Delete!"/>
                </form>
                <form th:method="POST" th:action="@{updateUser}" th:object="${user.getId()}">
                    <input type="submit" value="Update!"/>
                </form>
            </td>-->
            <td>
                <a th:href="@{/deleteUser(id=${user.getId()})}">
                    <button>Delete</button>
                </a>
                <a th:href="@{/updateUser(id=${user.getId()})}">
                    <button>Update</button>
                </a>
            </td>
        </tr>

    </table>
    <br>
</div>

<form action="userAddingData.html" th:attr="action=@{addNewUser}">
        <input type="submit" value="Add user!"/>
</form>

</body>
</html>