<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table border="1">
        <tr>
            <th>count</th>
            <th>year</th>
            <th>color</th>
            <th>model</th>
        </tr>
        <tr th:each="car, state : ${carsList}">
            <td th:utext="${state.count}">count</td>
            <td th:utext="${car.getYear()}">year</td>
            <td th:utext="${car.getColor()}">color</td>
            <td th:utext="${car.getModel()}">model</td>
        </tr>
    </table>

    <br>
    <br>
    <br>

    <!--<th:block th:each="msg : ${carsList}">
        <h1 th:text="${msg}"></h1>
    </th:block>-->
</div>
</body>
</html>